body {
  background-image: url("../images/sddefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
 /** background: #e0f7fa;**/
  margin: 0;
  padding: 0;
  color: black;
  background-attachment: fixed;
  
}


header {
  background: #00796b;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 1em;
  text-decoration: none;
  font-size: 25px;
  margin-top: -10px;
}

.form-container {
  background: rgba(255, 255, 255, 0.644);
 padding: 4em;
  margin: 3em auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top: 100px;
 color: black;
 width: 400px;
 font-size: 20px;
}

input{
  font-size: 20px;
}

.sign{
  z-index: 1;
  
}

input, select {
  width: 100%;
  padding: 0.8em;
  margin-top: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  background: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.head{
    margin-top: 50px;

}
.header{
  background-image: url(../images/aerial-drone-image-luxury-florida-260nw-1199655202.jpg);
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid white;
  z-index: 10;
}

